body {
	color: $color-dark;

	#middle {
		padding-top: 0;
	}

	.wd-product-list {
		&.wd-widget {
			margin-top: 0;
			margin-bottom: 48px;
		}
		.wd-header {
			text-align: center;
			padding: 0!important;
			border-bottom: none!important;
			position: relative;
			.wd-title {
				font-size: 24px;
				font-weight: 500;
				background-color: white;
				z-index: 1;
				position: relative;
				padding: 0 15px;
			}
			.wd-more {
				position: absolute;
				right: 0;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 500;
				top: 10px;
				background-color: white;
				padding-left: 15px;

				&:after {
					content: '\f054';
				    font-family: "Font Awesome 5 Free";
				    font-weight: 600;
				    margin-left: 8px;
				    font-size: 12px;
				    position: relative;
				    top: -1px;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				border-top: 2px solid #CFCFCF;
				left: 0;
				top: 53%;
			}
		}
		.wd-content {
			.list {
				margin-top: 0;
				padding-top: 0;
				margin-bottom: 0;
				padding-bottom: 0
			}
		}
		.wd-footer {
			display: none;
		}
	}

	.title-special {
		text-align: center;
		padding: 0!important;
		border-bottom: none!important;
		position: relative;
		margin-bottom: 19px;
		.title {
			font-size: 24px;
			font-weight: 500;
			background-color: white;
			z-index: 1;
			position: relative;
			padding: 0 15px;
			display: inline-block;
		}
		.more {
			position: absolute;
			right: 0;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 500;
			top: 7px;
			background-color: white;
			padding-left: 15px;

			&:after {
				content: '\f054';
			    font-family: "Font Awesome 5 Free";
			    font-weight: 600;
			    margin-left: 8px;
			    font-size: 12px;
			    position: relative;
			    top: -1px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			border-top: 2px solid #CFCFCF;
			left: 0;
			top: 53%;
		}
	}
}