.wd-facet-group {
	.facet-type {
		.facet-title {
			border-bottom: 2px solid $color-dark;
			border-top: none!important;
			padding: 10px 0 10px 10px!important;
			h3 {
				font-weight: 500;
				font-size: 16px;
				text-transform: uppercase;
			}
			&:not(.facet-closed) {
				margin-bottom: 16px;
			}
		}
		ul {
			padding-left: 20px!important;
			li {
				margin: 25px 0;
				h4 {
					a {
						text-transform: uppercase;
						font-size: 16px;
						display: inherit!important;
						.option-title,
						.option-count {
							font-weight: 500!important;
							color: $color-dark!important;
						}
						&:hover {
							text-decoration: none!important;
							.option-title,
							.option-count {
								color: $color-primary!important;
								text-decoration: none!important;
							}
						}
					}
				}
				&.selected {
					h4 {
						a {
							.option-title,
							.option-count {
								color: $color-primary!important;
							}
							&:after {
								content: '✓';
								position: absolute;
								right: 0;
								font-size: 20px;
							}
						}
					}
				}

				.expander {
					&:before {
						border: none;
						font-size: 16px;
						font-weight: 500;
						position: relative;
						top: -1px;
					}
				}
			}
		}
	}
}