#footer {
    .saiba-mais {
        background-color: $color-dark-s;

        .cms-page {
            .box {
                margin: 15px 15px;
                background-color: $color-dark-p;
                border-radius: 8px;
                box-shadow: 0px 1px 4px rgba(68, 68, 68, 0.2);
                padding: 24px;

                &.simple {
                    padding: 18px 24px;

                    h2 {
                        margin: 0;
                    }
                }

                h2,
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $color-dark;
                    text-decoration: none;
                }

                h2 {
                    &.title {
                        padding-bottom: 10px;
                        border-bottom: 2px solid $color-dark;
                    }
                }

                ul {
                    li {
                        text-align: center;

                        a {
                            color: $color-dark;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .footer-social {
            .content {
                width: 50%;
                text-align: center;
                border-bottom: 2px solid #cfcfcf;
                margin: 0 auto;
                margin-top: 20px;
                padding-bottom: 20px;

                h4 {
                    text-align: center;
                    font-weight: normal;
                    font-size: 16px;
                    margin-bottom: 25px;
                }

                a {
                    color: $color-dark;
                }
            }
        }

        .assinatura {
            background-color: $color-dark-s;

            .copyright {
                padding-top: 10px;
                padding-bottom: 50px;
                margin-bottom: 0;
            }
        }
    }
}