
.topo-frete-gratis {
	background-color: $color-info-l;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 32px;
	height: 32px;
	font-weight: 500;
}

#header {
	.icons-resume {
		.state,
		.main-wishlist {
			font-size: inherit;
			> a {
				display: block;
				font-size: 11px;
				line-height: inherit;
				font-style: italic;
				color: $color-dark;
				font-weight: 500;
			}
			i {
				font-size: 30px;
				display: block;
				text-align: center;
			}
		}
		.wd-profile-welcome-shopper,
		.wd-checkout-basket-summaryheader {
			text-align: center;
		}
		i,
		b:before {
			color: $color-dark;
		}
	}
	#top-search {
		.wd-search {
			input {
				border-width: 0 0 2px 0;
				border-style: solid;
				border-color: $color-dark-l;
				box-shadow: none;
			}
			button {
				background-color: transparent;
				color: $color-primary;
				text-transform: uppercase;
				font-weight: 500!important;
				font-size: 16px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.category-bar {
		background-color: inherit;
		box-shadow: 0px 1px 4px rgba(68, 68, 68, 0.2);
		position: relative;
		z-index: 1;
		a {
			color: $color-dark;
		}
		.all-category {
			background-color: inherit;
			flex: 0 0 215px;
    		max-width: 215px;
			.button-extend {
				color: $color-primary;
				font-size: 16px;
				i {
				}
			}
		}
		.main-category {
			flex: 0 0 48%;
    		max-width: 48%;
			.level-1 {
				a {
					text-transform: lowercase;
					font-size: 16px;
				}
			}
		}
		.others {
			li {
				float: left;
				margin: 0;
				a {
					color: $color-dark;
					text-transform: uppercase;
					padding: 1.06em 1.4em;
					display: block;
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
	.wd-marketing-banner {
		.slider-controller {
			li {
				width: 16px;
				height: 16px;
				border: 1px solid $color-dark;
				font-size: 0;
				background-color: transparent;
				position: relative;
				&.current {
					&:before {
						content: '';
						position: absolute;
						background-color: $color-dark;
						width: 10px;
						height: 10px;
						border-radius: 100%;
						left: 2px;
						top: 2px;
					}
				}
			}
		}
	}
}