body {
	&.HomeRoute {
		#middle {
			&.wrapper {
				width: inherit;
    			max-width: inherit;
			}
			.condicoes-gerais {
				background-color: transparent;
				padding: 24px 0 48px;
				.condicao {
					text-align: left;
					&:nth-child(2) {
						border-style: solid;
						border-width: 0 2px 0;
						border-color: #CFCFCF;
					}
				}
				.icon {
					display: block;
					border-radius: 100%;
					width: 80px;
					height: 80px;
					background: #FFFFFF;
					box-shadow: 0px 1px 4px rgba(68, 68, 68, 0.2);
					margin: 0 auto;
				}
				.info {
					strong {
						font-weight: 500;
						text-transform: uppercase;
						font-size: 22px;
					}
					p {
						font-size: 16px;
						margin-bottom: 0;
					}
				}
			}
			.mosaico-categorias {
				margin-bottom: 48px;
				ul {
					flex-wrap: wrap;
					display: flex;
					li {
						flex: 0 0 25%;
    					max-width: 25%;
    					.bg {
							box-shadow: 0px 1px 8px rgba(68, 68, 68, 0.2);
							border-radius: 8px;
							width: 270px;
							height: 180px;
    					}
    					h3 {
							text-align: center;
							font-weight: 500;
							font-size: 16px;
							text-transform: uppercase;
							margin-bottom: 0;
    					}
					}
				}
			}
			.carrossel-marcas {
				padding-top: 32px;
				padding-bottom: 40px;
				background-color: #F0F0F0;
				margin-bottom: 48px;
				.title-special {
					.title,
					.more {
						background-color: #F0F0F0;
					}
				}
				ul {
					flex-wrap: wrap;
					display: flex;
					li {
						flex: 0 0 16.6%;
    					max-width: 16.6%;
						.bg {
							width: 150px;
							height: 150px;
							box-shadow: 0px 1px 4px rgba(68, 68, 68, 0.2);
							border-radius: 100%;
							background-color: white;
						}
					}
				}
			}
			.loja-fisica {
				margin-bottom: 48px;
			}

			.banner-middle {
				margin-bottom: 48px;
			}
		}
	}
}