.wd-product-line {
	box-shadow: 0px 1px 8px rgba(68, 68, 68, 0.2);
	border-radius: 8px;
	position: relative;
	.wd-product-line-wishlist {
		position: absolute;
		left: 10px;
		top: 12px;
		button {
		}
	}
	.flag {
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 1;
		&.off {
			background-color: $color-primary;
			color: white;
			font-size: 16px;
			font-weight: 500;
			padding: 4px 16px;
			border-radius: 0 8px 0 8px;
		}
	}
	.flags {
		display: table;
		margin: 0 auto;
		li {
			display: inline-block;
			&.novidade,
			&.cores {
				font-size: 14px;
				border-radius: 32px;
				padding: 2px 16px;
				font-weight: bold;
			}
			&.novidade {
				background-color: $color-primary;
				color: white;
				border: 2px solid $color-primary;
				margin-right: 8px;
			}
			&.cores {
				border: 2px solid $color-primary;
				color: $color-primary;
			}
		}
	}
	.item-description {
		.name,
		.description {
			font-size: 16px;
			text-align: center;
		}
		.name {
			text-transform: uppercase;
			font-weight: 500;
		}
		.description {
			
		}
		.price {
			.wd-product-price-description {
				text-align: center;
				display: inherit;
				.list-price,
				.sale-price {
					font-weight: bold;
					.prefix {
						display: none;
					}
				}
				.list-price {
					span {
						font-size: 14px;
					}
				}
				.sale-price {
					span {
						font-size: 22px;
					}
				}
			}
		}
	}
	.bottom {
		.buy {
			background-color: $color-success;
			width: 100%;
			border-radius: 32px;
			font-size: 22px;
			font-weight: 500;
			padding: 9px 0;
			text-transform: uppercase;
		}
	}
}