$color-primary-l: #FEB2C9;
$color-primary: #FE80A6;
$color-primary-m: #E65C85;

$color-info-l: #FFCCDC;
$color-info: #FFB2CA;
$color-info-m: #F291B0;

$color-success-l: #2EE574;
$color-success: #0ACC54;
$color-success-m: #00B344;

$color-dark-l: #777777;
$color-dark: #444444;
$color-dark-m: #333333;
$color-dark-s: #f0f0f0;
$color-dark-p: #dddddd;